
PYTHON_SUSPICION_BACKEND_URL=http://127.0.0.1:5005
WHISPER_DEVICE=cpu
WHISPER_MODEL=small
WHISPER_COMPUTE_TYPE=int8
WHISPER_BEAM_SIZE=3

#WHISPER_DEVICE=cuda
#WHISPER_MODEL=small
#WHISPER_COMPUTE_TYPE=float16
#WHISPER_BEAM_SIZE=3

